{% extends 'base.html' %}


{% block content %}
{% if request.GET.command == 'verification' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p class="alert alert-info" role="alert">
                thanks! for registering with us. the email verification was sent to [{{request.GET.email}}].<br>
                already verified! <a href="{% url 'login' %}">login</a>
            </p>
        </div>
    </div>
</div>
{% else %}
<div class="form-content"
    style="min-height: 90vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div class="row justify-content-cente">
            <div class="col-md-6">
                <div class="card" style="width: 450px;">
                    <div class="card-header bg-dark">
                        <h1 class="card-text text-center text-light"><span class="fa fa-user"></span></h1>
                    </div>
                    <div class="card-body p-4">
                        <form action="" method=POST>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid">
                                <button class="btn btn-primary text-uppercase">Sign In</button>
                            </div>
                            {{ form.non_field }}
                        </form>
                        <p class="card-text pt-2">If you do not have an account, <a href="{% url 'signup' %}">Sign
                                Up</a></p>
                        <p class="card-text pt-2">
                            Forgot Password?&nbsp;
                            <a href="{% url 'password_reset' %}">Request Password Reset</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}