<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center text-white pt-3">
                    All Rights Reserved
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    | this website was made with <span class="fa fa-heart text-danger"></span>
                </p>
            </div>
        </div>
    </div>
</footer>