<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 class='text-white'><b>Full Stack development</b></h1>
                <h2 class='text-white'><b>Learning today, Leading tomorrow</b></h2>
                <p class='text-white'>
                    <i class="fas fa-quote-left"></i>
                    <b>
                        Start Your Full Stack web development journey here with us. <br>
                        Build and deploy to servers such Heroku, Aws, Digitalocean and etc
                    </b>
                    <i class="fas fa-quote-right"></i>
                </p>

                <a href="courses.html" class="btn btn-primary">Get Started</a>
                <a href="https://www.w3schools.com/html/" class="btn btn-outline-danger" target='_blank'><b>Html</b>
                    &nbsp;<i class="fab fa-html5 text-danger"></i></a>
                <a href="https://www.w3schools.com/css/" class="btn btn-outline-primary" target='_blank'><b>Css3</b>
                    &nbsp;<i class="fab fa-css3"></i></i></a>
                <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" class="btn btn-outline-info"
                    target='_blank'>
                    <b>Bootstrap5</b>
                    &nbsp;<i class="fab fa-bootstrap">
                    </i>
                </a>
                <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" class="btn btn-outline-info"
                    target='_blank'>
                    <b>Pyhon</b>
                    &nbsp;<i class="fab fa-python">
                    </i>
                </a>
                <!-- <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" class="btn btn-outline-info"
                    target='_blank'>
                    <b>Django</b>
                    &nbsp;<i class="fab fa-django">
                    </i>
                </a> -->
            </div>
        </div>
    </div>
</section><!-- End Hero -->